<%- include("partials/" + tempheader); -%>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>more about us!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banner Ends Here -->


<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="images/about-us.jpg" alt="">
        <p>Welcome To Bloggers Spot. I'm Glad And Grateful You,re Here.
          This Is A Blogging Website Where You Can Create Your Own Blog Posts And Read Others Posts As Well.
          Fell Free To Share Your Views.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/home.php"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://github.com/Sandy382"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/sai-nath-das-80472b20b/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>


  </div>
</section>

<%- include("partials/footer"); -%>
