<%- include("partials/header1"); -%>

<section class="blog-posts grid-system grid-system1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item submit-comment">
                <div class="sidebar-heading heading1">
                  <h2>Your Don't Have Any Blog Posts.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
